*{
	padding: 0;
	margin: 0;
}

@font-face {
    font-family: 'daysregular';
        src: url('../font/Days.otf') format('otf'),
         	url('../font/days-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: "daysregular", Helvetica, Verdana;
	/*background: #white;*/
	color: black;
	font-size: 1.5em;
	/*border: red 1px solid;*/
	margin-right: 1%;

}

header{
	/*background: #1E6381;*/
	border-radius: 0.5em;
	margin: 2%;
	width: 96%;
	padding: 0.25em;
	/*text-align: center;*/
	display: inline-block;
	border: black 1px solid;
}

h1{
	margin: 5% auto;
	text-align:center;
	float: right;
	/*margin-right: 2%;
	margin-left: 2%;*/
	font-size: 1.5em;
	padding: 2%;
}

figure{
	text-align: center;
	font-size: 1em;
}

header img{
    max-height: 125px;
    padding: 10px;
    /*float: left;*/
}


nav{
	border-radius: 0.5em;
	margin: 2%;
	width: 96%;
	padding: 0.25em;
	/*text-align: center;*/
	/*display: inline-block;*/
	border: black 1px solid;
}

nav ul{
	list-style:none;
    /*margin:0 10px 0 10px;*/
    padding: 1em;
}

nav ul li{
    
    float:left;
   
    font-size:1em;
    font-weight:bold;
    margin-right:10px;
    text-align:center;
}

nav ul li a{
    color:black;
    display:block;
 
    text-decoration:none;
 }

section#contenedor{
	margin: 2%;
	max-width: 96%;
	
	/*background: #FFFFFF;*/
	text-align: center;
	border: black 1px solid;
	border-radius: 0.5em;
}

section#principal, aside {
	/*background: #1E6381;*/
	border-radius: 0.5em;
	display: inline-block;
	margin: 0%;
	vertical-align: top;
	width: 68%;
	border: black 1px solid;
	
}
article{
	/*background: #011E30;*/
	border-radius: 0.5em;
	width: 45%;
	padding: 0.5em;
	border: black 1px solid;
	float: left;
	font-size: 0.5em;
	margin-right: 2%;
}
article img{
	max-height: 125px;
    padding: 10px;
}
aside{
	width: 30%;
	border: black 1px solid;

}



footer{
	border-radius: 0.5em;
	margin: 2%;
	width: 96%;
	padding: 0.25em;
	/*text-align: center;*/
	/*display: inline-block;*/
	border: black 1px solid;
	text-align: center;
}

/*
footer{
	/*background: #1E6381;
	border-radius: 0.5em;
	margin: 5% auto;
	max-width: 90%;
	padding: 0.25em;
	/*text-align: center;
	display: inline-block;
	border: black 1px solid;
}
