@media (min-width: 768px) {
		.title-web-movile {
			display: none !important;
		}
	}
	@media (max-width: 768px) {
	    .title-web {
			display: none !important;
	    }
	}
	table.integrantes td.text-primary{
		font-weight: bold;
	}
	header>div.header-top{
		background-image: url(../img/background-header.jpg);
	}
	table.integrantes td.img-header{
		background-color: rgba(233,84,32, 1);
	}
	table.integrantes td.img-header img{
		height: 90px;
		width: 72px;
		padding: 8px 0px;
	}
	div.img-banner{
		height: 120px;
		text-align: center;
	}
	div.img-banner img{
		padding: 20px;
	}
	div.title-web{
		height: 120px;
		display: table;
		text-align: center;
	}
	div.title-web p{
		display: table-cell;
		vertical-align: middle;
		font-size: 35px;
		color: rgb(0,96,136);
		font-family: 'Play', sans-serif;
	}